.App {
  text-align: center;
}

header {
  padding: 20px;
}

ul {
  list-style-type: none;
}

.auth-forms input {
  margin: 5px;
}

.users-list, .message-box {
  border: 1px solid black;
  min-height: 100px;
  margin: 10px;
}


